.spinner {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 8px solid #3498db;
    border-top: 8px solid transparent;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}